<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ldv.aravet"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
        	android:name="org.ldv.aravet.ar.clothes.ClothesActivity"
        	android:label="@string/clothes">
    	</activity>
    	<activity
        	android:name="org.ldv.aravet.ar.computer.ComputerActivity"
        	android:label="@string/computer">
    	</activity>
        <activity
        	android:name="org.ldv.aravet.ar.electonics.ElectronicsActivity"
        	android:label="@string/electronics">
    	</activity>
    </application>

</manifest>
